
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    background-color: #fff;
}

/* CONTEINER */
.container {
    display: flex;
    width: 100%;
}

/* PAINEL ESQUERDO */
.left-panel {
    flex: 1;
    background-color: #a97c53; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-color: #d3d3d3; 
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    color: #000;
    border-radius: 5px;
}

/* PAINEL DIREITO */
.right-panel {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-panel h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #000;
}

/* FORMULÁRIO */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 15px;
}

form input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #d3d3d3; /
}

form input::placeholder {
    color: #666;
}

form button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #a97c53; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

form button:hover {
    background-color: #8c643e; 
}
