* {
    font-family: inherit;
}


.perfil{
    display: flex;
    flex-direction: column;
    margin-left: 20vh;
    
    padding-top:5vh;
    padding-bottom: 0vh;
    width: 40%;
    
}

.perfil h4 {
    padding-top: 20px;
    background-color: #fefae0;  
    font-size: 30px;
}

p{
    font-size: 24px;
    margin-left: 5vh;
}

.botoes{
    display: flex;
    justify-content: center;
    height: 10vh;
    width: auto;
    gap: 10vh;
    padding: 3vh;
}

.botoes button{
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
}
.botoes button:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

