.paginaF{
    background-color: #fefae0;
    display: flex;
}
.descricao{
    background-color: #fefae0;
}

.paginaF .logo-filme{
    text-align: center;
}

.descricao p{
    background-color: #fefae0;
}
.bodyF{
    margin-top: 100px;
    display: flex;
}
.descricaoT{
    display: flex;
    align-items: center;
    
}