header {
    background-color: #b99470;
    height: 10vh;
    display: flex;
    align-items: center;
    font-size: 32px;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;

}

nav {
    border: none;
    height: 100%;
    display: flex;
    background-color: #b99470;
    justify-content: space-evenly;
    align-items: center;
}
.titulo{
    color: white;

}

.titulo:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

header button {
    border: none;
    background-color: #b99470;
    color: white;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
}

nav button:hover {
    background-color: #cfb090;
}

.acessar-conta {
    background-color: #b99470;
    display: flex;
    padding-left: 350px;
    height: 50px;
    width: 500px;
}

.acessar-conta button:hover {
    background-color: #cfb090;
}

.acessar-conta .link {
    text-decoration: none;
}
.buttonL{
    display: flex;
}
.bem-vindo, .sair{
    background-color: #b99470;
}

